@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin,Roboto/Palanquin/Palanquin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin,Roboto/Palanquin/Palanquin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Palanquin,Roboto/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Palanquin', 'Roboto', sans-serif;
    background-color: #F8F8F8;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body.no_scroll {
    overflow: hidden;
}